# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:80Ij9U
RewriteEngine on
RewriteCond %{HTTP_HOST} ^tilden.comeze.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.tilden.comeze.com$
RewriteRule ^$ http://tilden.comeze.com/landingpage.html [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 80Ij9U:REDIRECTID



# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

ErrorDocument 404 "<H1>Page not found</H1>"